@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,300&display=swap')
/* Apply some basic styling to all elements */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
      font-family: 'Roboto', sans-serif;
      background-color: #f7f7f7
}

.wrapper{
    display:flex;
    flex-direction:column;
    justify-content:center;
     margin: 100px 80px;
    padding:30px auto;

}
.container{
    display:flex;

    justify-content: space-around;
    margin-bottom:30px;
}
form{
  display:flex;
  flex-direction: column;
  background-color:#ffffff;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius:10px;
  padding:20px;
  height:max-content;
  width:max-content;
  }
  #train-model-form,#reload-model-form{

     width:270px
  }
  .row{
  display:flex;
  justify-content: space-around;
  align-content: center

  }
    .col{
  display:flex;
  flex-direction:column;


  }
 form p{

   font-size: 1.rem;
   line-height: 1.4rem;
   margin-top:0px
 }
 h2{
   margin-bottom:10px;}
.btns{
    width:220px;
    padding:10px;
    font-size:1rem;
    margin:5px auto;
  border:none;
  border-radius:10px;
  background-color:#6c96f5;
  font-weight:550;
  cursor:pointer

    }
    #add{
    background-color:#7fdadf
    }
input {
  margin-bottom: 10px ;
  width:200px;
  font-size:.8rem;
  padding:10px;
  border:none;
  background-color:#f7f7f7;
  border-radius: 5px

}

label{

  font-size: 1rem;
  font-weight: 600;
  color:#545454;
  margin-bottom:10px;
  }
input::file-selector-button {
  font-weight: bold;
  color: #25365c;
  padding: 0.5em;
  border: none;
  border-radius: 3px;
  background-color:#e6e6e6;
  cursor:pointer
}
input::file-selector-button::focus, button::focus{

}
span{
   font-weight:700;
   text-align:center;
   margin:auto 10px;
}

.nb{
   background-color: #96b7ff;
   padding:10px;
   color:#fff;
   border-radius:50%;
   width:30px;
   height:30px;
   font-weight:700;
   margin:10px auto;
   text-align:center;
   font-size:1.3rem
}
.response{
    display:flex;

    justify-content: space-between;
    font-size:1rem ;

}
.response p{

 background-color:#d4ffa6;
 padding:10px;
 color:#68c702;
 border-radius: 5px;}



li {
   font-size:1rem;
   font-weight:400;
}
.alert {


  width: 400px;
  height: max-content;
  padding: 10px;
  margin: 10px;
  font-size:1rem;

  border-radius: 5px;
  cursor: hand;
  cursor: pointer;
  font-family: sans-serif;
  font-weight: 400;

}


#response {
  display:none;
  background-color: #a8ff9e;
  border: 1px solid #DED;
  color: #33c91c;
}


#warning {
display:none;
  background-color: #FDF7DF;
  border: 1px solid #FEEC6F;
  color: #C9971C;
}

#error {
display:none;
  background-color: #FEE;
  border: 1px solid #EDD;
  color: #A66;
}
.alerts{
   margin: 10px auto ;
    align-self: center;

}
#progress{
display:none;
justify-self:center
}
#loader {
    display:none;

   justify-self:center;

}
#progress p{
   text-align: center
}
h1 {
  text-align: center;

  font-weight: 100;
  margin: 10px auto;
  font-size: 22px;

}

.progress-bar {
  position: relative;
  height: 20px;
  width: 200px;
  background: white;
  border-radius: 25px;
  border: 2px solid white;
  background-color: blue);
    box-shadow: 0 0 32px blue;
    margin:10px auto
}

.progress-fill {
  position: absolute;
  height: 20px;
  width: 0%;
  animation: progress-forward 3s infinite;
  background: rgb(34, 193, 195);
  background: linear-gradient(
    90deg,
    rgba(34, 193, 195, 1) 0%,
    rgba(45, 63, 253, 1) 100%
  );
  border-radius: 15px;
}
.progress-fill1 {
  position: absolute;
  height: 20px;
  width: 0%;

  background: rgb(34, 193, 195);
  background: linear-gradient(
    90deg,
    rgba(34, 193, 195, 1) 0%,
    rgba(45, 63, 253, 1) 100%
  );
  border-radius: 15px;
}
@keyframes progress-forward {
  0% {
    width: 0%;
  }
  25% {
    width: 50%;
  }
  50% {
    width: 75%;
  }
  75% {
    width: 85%;
  }
  100% {
    width: 100%;
  }
} ;

